/* MAIN */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: black; /* чтобы не было белого */
}

.all {
    position: relative;
    width: 100%;
    max-width: 450px;
    background-color: black;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* центрируем на больших экранах */
}

/* Для телефонов */
@media (max-width: 450px) {
    .all {
        max-width: 100%;
    }
}

img {
    width: 100%;
}

a{
    font-weight: bold;
}
