/* MAIN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

img {
    width: 100%;
}

.all {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}
a{
    font-weight: bold;
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Для конкретных элементов, если нужно */
a, button, .tapalka, .stat-block, .memchik button, .x2_upgrade button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
